<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <carriers>
      <correios>
        <active>0</active>
        <title>Correios</title>
        <name>Correios</name>
        <default_width>10</default_width>
        <default_height>1</default_height>
        <default_length>15</default_length>
        <increment_days_in_delivery_time>0</increment_days_in_delivery_time>
        <maximum_weight>30</maximum_weight>
        <height_attribute>altura_correios</height_attribute>
        <length_attribute>comprimento_correios</length_attribute>
        <width_attribute>largura_correios</width_attribute>
        <sort_order>1</sort_order>
        <model>Tezus\Correios\Model\Carrier\Correios</model>
      </correios>
    </carriers>
  </default>
</config>
