<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <carriers>
      <correios>
        <active>0</active>
        <title>Correios</title>
        <name>Correios</name>
        <default_width>0</default_width>
        <default_height>0</default_height>
        <default_length>0</default_length>
        <increment_days_in_delivery_time>0</increment_days_in_delivery_time>
        <maximum_weight>0</maximum_weight>
        <sort_order>15</sort_order>
        <model>Tezus\Correios\Model\Carrier\Correios</model>
      </correios>
    </carriers>
  </default>
</config>
